extends ../layout
block content
    if user
        article        
            form(action='/add' method='post')
                p
                    input(type="text" name='title' placeholder='title')
                p
                    textarea(name="description" placeholder='description' cols="30" rows="10")
                p
                    input(type="text" name='author' placeholder='author')
                p
                    input(type="submit")
                    // 동떨어진 글쓰기 페이지를 main과 유사하게 변경
    else
        h2 Warning!
        | 게시물 쓰기, 읽기, 편집은 로그인을 하여야 가능합니다. 
