extends ../layout
block content
    if user
        article
            h1= 'Delete? '+topic.title        
            - rid = encodeURIComponent(topic['@rid'])
            form(action='/'+rid+'/delete' method='post')
                p
                    input(type="submit" value='YES')
            a(href='/'+rid) No
            // 삭제처럼 어떤 페이지로 이동하는건 링크
            // 실제 삭저 yes 와 같은 명령어를 실행하는건 반드시 post방식으로 해야 보안성 굳
    else
        h2 Warning!
        | 게시물 쓰기, 읽기, 편집은 로그인을 하여야 가능합니다.  
